html{
    /* alternative box-model */
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    background-color: #333;
    text-align: center;
}

.container{
    width: 60%;
    margin: 0 auto;
}

h1{
    color: #fff;
}

article{
    background-color: #fff;
    margin: 20px 0;
    padding: 5em;
}

.parent{
    border: 5px solid lightcoral;
}

.item{
    background-color: deepskyblue;
    color: #fff;
    margin: 5px;
    padding: 15px;
}


/* display: flex */

/* flex-direction */
.example-display-flex{
    display: flex;
    flex-direction: row-reverse;
}

/* flex-wrap */
.example-wrap{
    display: flex;
    flex-wrap: wrap;
}

.example-wrap > .item{
    width: 200px;
}

/* flex-flow - shorthand CSS for flex-direction and flex-wrap */
.example-flow{
    display: flex;
    flex-flow: row-reverse wrap;
}

.example-flow .item{
    width: 200px;
}


/* flex */
.example-flex{
    display: flex;
    flex-flow: row wrap;
}

.example-flex .item{
    width: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    /* flex - shordhand CSS for flex-grow, flex-shrink, flex-basis */
    flex: 1 1 auto;
}

.example-flex .item:nth-child(1){
    flex: 3 1 100%;
}

.example-flex .item:nth-child(4){
    flex: 2 1 auto;
}


/* align-items */
.example-align-items{
    display: flex;
    flex-flow: row nowrap;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}

.example-align-items .item:nth-child(4){
    align-self: stretch;
}


/* align-content */
.example-align-content{
    display: flex;
    height: 500px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.example-align-content .item{
    width: 200px;
}


/* order */
.example-order{
    display: flex;
    justify-content: space-between;
}

.example-order .item:nth-child(1){
    order: 4;
}

.example-order .item:nth-child(2){
    order: 1;
}

.example-order .item:nth-child(3){
    order: 5;
}

.example-order .item:nth-child(4){
    order: 2;
}

.example-order .item:nth-child(5){
    order: 3;
}