body {
  background-color: aqua;
}

#second {
  width: 50%;
  height: 300px;
}

#div1 {
  width: 500px;
  height: 300px;
  padding: 20px;
  border: 5px solid black;
  margin: 10px;
  background-color: coral;
}
#div2 {
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  padding: 20px;
  border: 5px solid black;
  margin: 10px;
  background-color: skyblue;
}

.margin {
  height: 300px;
  width: 300px;
  background-color: springgreen;
  /* margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 15px; */
  /* margin: 20px 10px 40px 15px; */
  margin: 20px 40px;
  padding: 40px 15px;
  border-width: 10px 5px 3px 7px;
  /* border-top-color: tomato;
  border-right-color: red;
  border-bottom-color: blue;
  border-left-color: grey; */
  border-color: tomato red blue grey;

  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-left-style: double;
}

#inlineBlock {
  display: inline-block;
  width: 100px;
}

#over {
  width: 500px;
  height: 200px;
  background-color: white;
}

#over > div {
  width: 1000px;
  height: 10px;
}
